{% trans_default_domain("support.admin") %}

<tr class="vertical-middle">

    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>

    <td class="text-center">

{#        <a class="text-decoration-none offcanvas-link"#}
{#             data-href='{{ path('support:admin.detail', { id: item.event }) }}'#}
{#             data-id='offcanvas'#}
{#        >#}
{#            <span class="d-inline-block text-truncate text-emphasis align-middle" style="max-width: 150px;">{{ item.ticket }}</span>#}
{#        </a>#}

        <div class="ms-0 text-start">
            <a
                class="text-decoration-none offcanvas-link "
                data-href="{{ path('support:admin.detail', { id: item.event }) }}"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                role="button"
                aria-controls="offcanvasExample"
            >
                <span class="d-inline-block text-truncate text-emphasis align-middle" style="max-width: 150px;">{{ item.ticket }}</span>
            </a>
        </div>
    </td>

    <td class="ms-0 text-center">
        <div class="d-flex w-100 justify-content-center">
            <span class="d-inline-block text-truncate text-emphasis align-middle" style="max-width: 150px;">{{item.name}}</span>
        </div>
    </td>
    <td  class="w-25 text-center">
        <span class="d-inline-block text-truncate  align-middle" style="max-width: 150px;">{{item.title}}</span>
    </td>

    <td class="w-25 text-center">
        <span class="me-1 text-muted  mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                 fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16"
            >
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            </svg>
        </span>
        <span class="d-inline-block text-truncate  align-middle" style="max-width: 250px;">{{item.message}}</span>
    </td>

    <td class="text-center">
        {% if item.status == 'open' %}
            <div class="badge bg-success">
                Открытый
            </div>
        {% else %}
            <div class="badge bg-danger">
                Зактрытый
            </div>
        {% endif %}
    </td>

    <td class="text-center">
        {% if item.priority == 'low' %}
            <div class="badge bg-warning">
                Низкий
            </div>
        {% else %}
            <div class="badge bg-danger">
                Высокий
            </div>
        {% endif %}
    </td>

    {% if is_granted('ROLE_ADMIN') %}
        <td class="text-center">
            <a href="{{ path('support:admin.add', {id: item.event, message: item.message_id})  }}"
               class="badge bg-primary text-decoration-none modal-link disabled"
               data-bs-toggle="modal"
               data-bs-target="#modal"
            >
                Ответить
            </a>
        </td>
    {% endif %}
</tr>

<div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvas"
    style="width:640px"
>

</div>