{% trans_default_domain("support.admin") %}

{% set ROLE = 'ROLE_SUPPORT' %}

{# ---- ШАБЛОН ------------------------------------------------------------ #}
{% extends Template('/admin/base.html.twig') %}

{# ---- CSS ------------------------------------------------------------ #}
{% block title %}
    {{ 'page.index'|trans }}
{% endblock %}


{# ---- CSS ------------------------------------------------------------ #}
{% block stylesheets %}
    <link href="/assets/plugins/nice-select2/nice-select2.min.css" rel="stylesheet">
{% endblock %}


{# ---- КОНТЕНТ-БЛОК ------------------------------------------------------------ #}
{% block content %}
    {{ include(_self|replace({ "template.html.twig": baks_settings.device~"/content.html.twig" })) }}

    <div
            class="offcanvas offcanvas-start"
            tabindex="-1"
            id="offcanvas"
            style="width:640px"
    >

    </div>
{% endblock %}

{% block javascript %}
<script nonce='{{ csp_nonce() }}' async  data-src='/assets/plugins/nice-select2/nice-select2.min.js?v={{ version }}' class='lazy'></script>

<script nonce="{{ csp_nonce() }}">

        document.addEventListener("DOMContentLoaded", (event) =>
        {
            const form = document.forms.support_ticket_status_filter_form;
            form.addEventListener('change', () => { setTimeout(() => { form.submit(); }, 300); });
        });

</script>
{% endblock %}