{# Шаблон виджета поддержки #}
<div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvas"
        style="width:640px"
>

</div>

{{ include(_self|replace({ "support.widget.html.twig": baks_settings.device~"/support-widget.html.twig" })) }}


<script nonce='{{ csp_nonce() }}' async data-src="/assets/centrifugo/centrifuge.min.js?v={{ version }}"
        class="lazy"></script>
<script nonce='{{ csp_nonce() }}' async data-src="/assets/support/support-widget.min.js?v={{ version }}" class="lazy"></script>

<script nonce="{{ csp_nonce() }}" class="lazy">
    window.centrifugo_dsn = "{{ centrifugo_dsn }}";
    window.centrifugo_token = "{{ token }}";
    window.current_profile = "{{ baks_profile.current }}"
</script>
